:root {
  --one: #23539b;
  --two: #d0d0d0;
  --three: #1e1e1e;
  --four: #2e2e2e;
  --five: #111111;
  --six: #3b3b3b;
}

html,
body {
  margin: 0;
  font-family: Inter;
  height: 100%;
  overflow: hidden;
  background: var(--three);
  -webkit-user-select: none;
}

form,
p {
  margin: 0;
}

a {
  outline: none;
  text-decoration: none;
}

input {
  font-family: Inter;
  border: none;
  width: 100%;
  height: 75px;
  padding: 12px 20px;
  font-size: 40px;
  outline: none;
  background: none;
  color: var(--two);
}

.spectrum {
  width: 100%;
  height: 75px;
}

.articles {
  display: flex;
  justify-content: center;
}

.article {
  background: var(--four);
  color: var(--two);
  width: 200px;
  margin: 20px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  border: solid 2px transparent;
}

.article:hover,
.article:focus {
  border-color: var(--one);
}

.article div:nth-child(1) {
  width: 100%;
  height: 125px;
  background-position: center;
  background-size: cover;
}

.article div:nth-child(2) {
  padding: 10px;
  padding-bottom: 35px;
}

.article .title,
.article .source {
  margin: 0;
}

.article .title {
  font-weight: 500;
  font-size: 20px;
}

.article .source {
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.banner {
  padding: 10px 20px;
  margin: 0;
  background: var(--five);
  color: var(--two);
}

.item,
.answer {
  border-top: solid 1px var(--six);
  color: var(--two);
  padding: 10px 20px;
  white-space: nowrap;
}

.answer {
  font-size: 30px;
  padding-left: 15px;
  border-left: solid 5px var(--two);
}

.item.selected {
  background: var(--four);
}

.emoji {
  height: 1em;
  vertical-align: middle;
  display: inline-block;
}

.authBanner {
  display: flex;
  justify-content: space-between;
}

.authBanner p {
  margin: auto 0;
}

button {
  font-family: Inter;
  background: var(--one);
  color: var(--two);
  border: none;
  padding: 5px 15px;
  font-size: 15px;
  border-radius: 1000px;
  outline: none;
  cursor: pointer;
}
