html, body {
    margin: 0;
    font-family: Inter;
    height: 100%;
    overflow: hidden;
    background: #1e1e1e;
    -webkit-user-select: none;
}

form {
    margin: 0;
}

input {
    font-family: Inter;
    border: none;
    width: 100%;
    height: 75px;
    padding: 12px 20px;
    font-size: 40px;
    outline: none;
    background: none;
    color: #d0d0d0;
}

.item, .answer {
    border-top: solid 1px #3b3b3b;
    color: #d0d0d0;
    padding: 10px 20px;
    white-space: nowrap;
}

.answer {
    font-size: 30px;
    padding-left: 15px;
    border-left: solid 5px #d0d0d0;
}

.item.selected {
    background: #2e2e2e;
}

.emoji {
    height: 1em;
    vertical-align: middle;
    display: inline-block;
}